#chart-area {
    width: 50%;
    float: left;
    margin-right: 20px;
}

#control-panel {
    align-self: center;
}

#control-panel input[type='range'] {
    vertical-align: middle;
}

#control-panel span {
    display: inline-block;
    width: 30px;
}
