$break-small: 940px;

#growth-vis-container {
    max-width: 60rem;
    margin: 0 auto;
    flex-direction: row;

    @media screen and (max-width: $break-small) {
        flex-direction: column;
    }

    #chart-area {
        width: 50%;
        align-self: center;
        margin-right: 20px;
    }

    #control-panel {
        align-self: center;

        p {
            margin: 0;
        }

        input[type='range'] {
            vertical-align: middle;
        }

        span {
            display: inline-block;
            width: 30px;
        }

        #reports {
            span {
                width:auto;
            }
        }
    }

}
